.navbar {
    background-color: rgb(255, 255, 255) !important;
    font-size: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    height: 150px;
}

.navbar .navbar-brand, .nav-link {
    color: rgb(0, 0, 0) !important;
}

.nav-link {
    font-weight: 500;
    margin-right: 10px;
}

.navbar-brand, .nav-link:hover {
    color: #ffd000 !important;
}
.dropdown-menu {
    background-color: white;
    border: 1px solid black;
}

.dropdown-menu .dropdown-item {
    color: black;
}

.dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: black;
}
.container{
    width: 100%;
    padding: 0; margin: 0;
}
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url(img/fundo.png);
    min-height: 200vh;
}
.conteudo{
    background-color: transparent;
    flex: 1 1 0;

}
.boas_vindas{
    text-align: center;
    background-color: #ebe2da;
    align-items: center;
    justify-content: center;

}
.propagandas img{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    margin-left: 90px;
}
.produtos {
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap;
    padding: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ebe2da !important;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    height: 150px;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}
.card a.btn-primary {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #3e5975;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.card a.btn:hover {
    background-color: #0056b3;
}
.contato{
    text-align: center;
    background-color: #ebe2da;
    align-items: center;
    justify-content: center;
}
.text-primary{
    background-color: #ffffff;
}
.card a.btn-secondary {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #888888;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

footer {
    bottom: 0px;
    width: 100%;
    position: sticky;
    background-color: #7e7e7e;
    color: #ddd;
    padding: 20px 0;
    font-size: 0.9em;
    text-align: center;
}
footer a {
    color: #00bfff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
